In [1]:
using Pkg
using DataFrames
using CSV
using MySQL
using DBInterface
using Test, MySQL, DBInterface, Tables, Dates, DecFP

In [2]:
sens = CSV.read("/Users/igaszczesniak/Desktop/SAP/Sensors.csv", DataFrame);

In [1]:
versioninfo()

Julia Version 1.8.0
Commit 5544a0fab76 (2022-08-17 13:38 UTC)
Platform Info:
  OS: macOS (x86_64-apple-darwin21.4.0)
  CPU: 8 × Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-13.0.1 (ORCJIT, icelake-client)
  Threads: 1 on 8 virtual cores

In [3]:
@show typeof(sens)
sens[1:10,:]

typeof(sens) = DataFrame

10×6 DataFrame
 Row │ timestamp         id_unicol  station_id        sector_id  latitude_deg  ⋯
     │ String31?         String3    String31          String3?   Float64?      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 20/12/2021 00:00  A          09595 Decentlab   K21             38.7079  ⋯
   2 │ 21/01/2022 00:00  B          09596 Decentlab   I23             38.7242
   3 │ 17/06/2022 00:00  1          00137A10000157A7  L19             38.6983
   4 │ 05/07/2022 08:40  2          00137A1000015794  L24             38.7002
   5 │ 05/07/2022 08:40  3          00137A1000015795  L24             38.7002  ⋯
   6 │ 05/07/2022 18:00  4          00137A100001579A  B15             38.7868
   7 │ 06/07/2022 10:40  5          00137A1000015798  C5              38.7803
   8 │ 06/07/2022 11:00  6          00137A100001579D  E8              38.765
   9 │ 05/07/2022 19:00  7          00137A100001579B  M21             38.6872  ⋯
  10 │ 04/07/2022 16:20  8          00137A100001579C  K3              38.7067
                                                                1 column omitted

In [4]:
headlines = ["timestamp", "id_unicol", "station_id","sector_id", "latitude_deg", "longitude_deg"];
n = names(sens);
R,C = size(sens);

In [5]:
if (C == 6) && (n == headlines)
    println("Connect to the database")
else 
    error("Incorrect number of columns or rows")
end

Connect to the database

In [6]:
#conn_tst = DBInterface.connect(MySQL.Connection, "localhost", "root", "Nero.2009",db="sys")

In [7]:
conn = DBInterface.connect(MySQL.Connection, "db-mysql-lon1-ac-01-do-user-7425280-0.a.db.ondigitalocean.com", "AC-h2m", "vfp8hr69picu17h0", db="meteorology", port=25060)

LoadError: (2002): Can't connect to server on 'db-mysql-lon1-ac-01-do-user-7425280-0.a.db.ondigitalocean.com' (60)

In [8]:
## Query
#MySQL.execute!(meteorology, "SELECT * FROM stations_tst")

In [9]:
## Disconnect from the db 
#DBInterface.close!(conn)